<!DOCTYPE html>
<html>
<head>
	<title>Emma Klint</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="stylesheet-portfolio.css">
	<link rel="stylesheet" href="flickity.css">
	<link href="https://fonts.googleapis.com/css?family=Passion+One:700|Roboto:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,900|Open+Sans" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="img/favicon"/>
</head>

<body>
<div id="app">
	<div id="header">
		<div id="name-title">
			Emma Klint.
		</div>
		<div id="menu">
			<ul>
				<li><a class="nav-link" href="/">home</a></li>
				<li><a class="nav-link" href="/portfolio">portfolio</a></li>
				<li><a class="nav-link" href="http://www.emmaklint.com/blog">blog</a></li>
			</ul>
		</div>
	</div>

	<div id="project-wrapper">
		
		<div id="project-title" class="project-item">{{selectedItem.title}}</div>
		<div class="project-item">
			<div class="paragraph">
				{{selectedItem.about}}
			</div>
			<div class="table-project">
				<table>
					<tr>
						<th>Course</th>
						<td>{{selectedItem.course}}
					</tr>
					<tr>
						<th>Year</th>
						<td>{{selectedItem.year}}
					</tr>
					<tr>
						<th>Role</th>
						<td>{{selectedItem.role}}
					</tr>
					<tr>
						<th>Tools</th>
						<td>{{selectedItem.tools}}
					</tr>
					<tr>
						<th>Team</th>
						<td>{{selectedItem.team}}
					</tr>
					<tr>
						<th>Github</th>
						<td><a class="text-link" v-bind:href="selectedItem.github">{{selectedItem.github}}</a></td>
					</tr>
				</table>
			</div>
		</div>
		
			<div v-for="text in selectedItem.text" class="project-item">
				<p class="headline">{{text.headline}}</p>
				<p class="paragraph">{{text.paragraph}}</p>
				<div v-if="text.gallery" class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false, "wrapAround": true }'>
					<div v-for="image in text.images">
						<img v-bind:src="image" alt="image" />
					</div>
				</div>
				<div class="gallery-wrapper" v-if="text.singleimage">
					<img class="gallery-image" v-bind:src="text.image"/>
				</div>
			</div>

			
		</div>
	</div>
</div>

<script src="flickity.pkgd.js"></script>
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
	<script src="app.js"></script>

</body>

</html>