@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,900');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,900');
@import url('https://fonts.googleapis.com/css?family=Lato:300,600,700,900');

body, html {
  height: 100vh;
  background-color: #FAFAFA;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

p {
  color: #2F2F2F;
  padding: 10px;
}

.bold {
  color: #4C83FF;
  font-weight: 600;
}
.link {
  color: #4C83FF;
  text-decoration: underline;

  -o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
}

.link:visited {
  color: #4C83FF;
}

.link:hover {
  color: #F25B8D;
}

h1 {
  color: #4C83FF;
  font-family: Lato;
  font-weight: 900 !important;
  padding: 10px;
  font-size: 3.5em;
  text-rendering: optimizeLegibility;
}

h2 {
  color: #4C83FF;
  font-weight: 900;
  padding-top: 10px;
  font-size: 2.5em;
}

.cv-title {
  padding: 10px;
}

.subheading {
    color: #2F2F2F;
    font-size: 1.3em;
    padding: 0;
    font-weight: 300;
}

.keywords {
  color: #4C83FF;
  padding-top: 0;
  font-size: 1.2em;
  font-weight: 600;
}

.image-container {
max-width: 100%;
padding-top: 5vh;
}

.page-title {
  color: #4C83FF;
  margin-bottom: 2vh;
  padding-left: 5vh;
}

.container-fluid {
  min-height: 102vh;
  margin: 0;
  padding: 0;
}

.container-fluid-small {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.container-small {
  margin-top: 10vh;
  min-height: 10vh;
  background-color: #FFBCDF;
}

.blue {
  background-color: #4C83FF;
}

.profile {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
}

.white {
  color: white;
}

.icon {
  color: #4C83FF;
  padding:10px;
}

.visual-text {
  padding-top: 50px;
  text-align: justify;
}

.long-text {
    text-align: justify;
}


@media (max-width: 576px) {
  h1 {
    margin-top: 2vh;
    font-size: 3em;
  }
  .profile {
    width: 60vw;
    height: 60vw;
    margin-bottom: 2vh;
  }

  .left-column {
    text-align: left;
  }

}

@media (min-width: 1400px) {
  p {
    font-size: 1.35em;
  }
}

* { box-sizing: border-box; }

.carousel {
  background: #EEE;
  padding: 0;
  margin-top: 10vh;
}

.carousel img {
  display: block;
  height: 150px;
}

.left-column {
  text-align: right;
}

.left-column-text {
  margin: 0;
  padding-top: 0;
  padding-bottom: 5px;
}

.left-column-text-bold {
  font-weight: 600;
}

.right-column {
  padding-top: 0;
}

.white-icon {
  color: white;
}

.icon-container {
  min-width: 4em;
  min-height: 4em;
}

.contact:hover {
  text-decoration: none;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 30vw;
  }
}

@media (max-width: 576px) {
  h1 {
    margin-top: 2vh;
    font-size: 2em;
    padding-left: 20px;
    margin: 0px;
  }

  p {
    padding-left: 20px;
    padding-right: 20px;
  }

  .profile {
    width: 60vw;
    height: 60vw;
    margin-bottom: 2vh;
  }

  .left-column {
    text-align: left;
  }

  .subheading {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.expand-icon:hover{
  font-size:4em;
  transition: 0.1s ease-out;
}

/*.fa.fa-envelope:hover{
  font-size:4em;
  transition: 0.1s ease-out;
}*/

.blue-button {
  background-color:#4C83FF;
  border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    font-family: inherit;
    margin-top: 5vh;
}

.blue-button:hover {
  background-color: #F25B8D;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.intro-icon {
  color: #4C83FF;
  padding: 10px;
}

.intro-icon:hover {
color: #F25B8D;
  -o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
}

/*.side {
  padding-left: 35px;
  position: relative;
  z-index: 1;
}

.side.fixed {
  position: fixed;
  padding-left: 20px;

  top: 0;
  z-index: 0;
}

.side.fixed.absolute {
  position: absolute;
  margin-left: 12px;
}*/

.project {
  min-height: 100%;
}

.project-divider {
  height: 10px;
  width: 90%;
  /*background-color: #4C83FF;*/
  margin-top: 45px;
  margin-bottom: 30px;
  border-top: 3px solid #4C83FF;
}
